@page "/about-me"


<div class="about-me-highlight-box">
    
    <span class="about-me-text">
        <section>

            <h2>WORK EXPERIENCE</h2>
            <h4>Game-Developement</h4>
            
            <p class="text-dates"> - March 2025 - present - </p>
            <ul>
                <li>Development of 2D games in C# using Unity</li>
                <li>Application of object-oriented programming</li>
                <li>Independent implementation of small game mechanics</li>
            </ul>
            <h4>Freelance Sound Engineer</h4>
            <p class="text-dates"> - 2020 - present - </p>
            <ul>
                <li>Recording, mixing, and mastering</li>
                <li>Project management and client communication</li>
            </ul>
            <hr>
            <h2>EDUCATION</h2>
            <h5>Computer Science (B.Sc.) - University of Siegen</h5>
            <p class="text-dates"> - since October 2024 - </p>
            <h5>Media Technology - TH Cologne</h5>
            <p class="text-dates"> - 2015-2020 (without degree) - </p>
            <hr>
            <h2>CORE SKILLS AND CHARACTERISTICS</h2>
            <ul>
                <li>Programming languages: Python, Java, HTML, CSS, C#</li>
                <li>Frameworks/environments: IntelliJ IDEA, Visual Studio, Unity</li>
                <li>Databases: SQL</li>
                <li>Languages: German (native), English (very good in spoken and written form)</li>
            </ul>
            <hr>
            <h2>ONLINE COURSES</h2>
            <ul>
                <li>Complete C# Unity Game Developer 2D by GameDev.tv, Rick Davidson, Gary Pettie</li>
            </ul>
            <hr>
            <hr>

        </section>
    </span>
    

</div>




<style>
    .about-me-highlight-box{        
        width: 50%;
        margin: 50px auto; 
        min-height: 70vh;
        height: auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 20px;
        box-shadow: 0 0 15px 4px rgba(123, 175, 224, 0.13);
       
    }

    .about-me-text{
        color: white;
    }

    .text-dates{
        color: rgb(61, 133, 151);
        font-size: medium;
        margin-top: 1xp;
        margin-bottom: 10px;
    }

    .enumerations{
        margin-left:  2rem;
        font-size: large;
    }

    




</style>