@page "/tower-hero"

<div class="tower-hero-body">

</div>





<style>
    .tower-hero-body{
        width: 50rem;
        margin: 50px auto;
        min-height: 70vh;
        height: auto;
        background-color: rgba(0, 0, 0, 0.37);

        border-radius: 10px;

    }
</style>